name: todo-platform

services:
  postgres:
    image: postgres
    container_name: postgres-container
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: redis-container
    volumes:
      - redis-data:/data

  backend:
    container_name: backend-container
    depends_on:
      - postgres
      - redis
    environment:
      - DATABASE_NAME=${DATABASE_NAME}
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - TOKEN_KEY=${TOKEN_KEY}

  frontend:
    container_name: frontend-container
    profiles: ["dev"]
    environment:
      - VITE_BACKEND_URL=http://localhost/api

  gateway:
    container_name: gateway-container
    build:
      context: .
      dockerfile: nginx/Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres-data:
  redis-data: